body {
    background-color: rgb(5, 58, 42);
}

#title {
    text-align: center;
}

#color-palette {
    display: flex;
    height: 20vh;
    place-content: center;
    
   
}

.color {
    display: flex;
    width: 150px;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
}

#color1 {
    background-color: rgb(0, 0, 0);
    border-radius: 20%;
    cursor: pointer;
}

#color2 {
    background-color: rgb(47, 58, 58);
    border-radius: 20%;
    cursor: pointer;
}

#color3 {
    background-color: blueviolet;
    border-radius: 20%;
    cursor: pointer;
}

#color4 {
    background-color: goldenrod;
    border-radius: 20%;
    cursor: pointer;
}

.pixel {
    border: solid 1px black;
    height: 40px;
    width: 40px;
    display: inline-flex;
    margin: 0%;
    place-content: center;
    margin-right: 100;


}

#pixel-board {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    left: 750px;
    position: fixed;
    bottom: 250px;
    

}


#clear-board {
    margin: 0%;
    display: block;
    place-content: center;
    position: fixed;
    bottom: 500px;
    left: 915px;
    width: 100px;
    justify-content: center;
}

.button {
    margin: 0%;
    display: contents;
    place-content: center;
    position: fixed;
    bottom: 270px;
    left: 500px;
    width: 20px;
    justify-content: center;
    height: 20vh;
}

.botoes {
    display: inline;
    position: relative;
    left: 670px;
    bottom: -104px;
}
















